
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
a:visited {
	color: inherit;
}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1; 
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: 'Montserrat', sans-serif;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
.white {
	color: #ffffff;
}
.gold {
	color: #c7b299;
}
.cayan {
	color: #00bff3;
}
.btn {
	padding: 10px 25px;
	border: 1px solid #998675;
	background-color: #998675;
	color: #ffffff;
	border-radius: 4%;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 900;
	box-shadow: 0px 4px #736357;
}

/*HEADER*/
.header {
	min-height: 100vh;
	min-width: 100vw;
	background: url(../images/slider/bg.jpg) center / cover no-repeat;
	position: relative;
	padding-bottom: 40px;
	padding-top: 40px;
}
.header__top {
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {}
.logo {
	display: flex;
	align-items: center;
}
.logo__icon {}
.logo__text {
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 34px;
}
.header__nav {

}
.nav {
	display: flex;
	align-items: center;
}
.nav__links{
	margin-right: 30px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 14px;
	vertical-align: middle;
}
a.nav__links{
	color: #fff;
}
a.nav__links:hover{
	color: #c7b299;
}
.nav__links_icon:not(:last-child){
	margin-left: 60px;
}
/*header__content*/

.slider__item{
	max-width: 600px;
	margin: 280px auto 380px;
	text-align: center;
	color: #fff;
}
.slider__sup-title {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 36px;
}
.slider__title {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 52px;
	margin-top: 25px;
	margin-bottom: 30px;
}
.slider__text {
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 50px;
}
.slider__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 50px;
	margin: 0 auto;
	background-color: #998675;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 14px;
	border-radius: 5px;
	box-shadow: inset 0px -70px 0px -66px rgba(0,0,0,0.2);
}
.slider__view-slider {
	overflow: hidden;
}
.slider__wrapper {
	 position: relative;
    transition: 500ms;
    width: calc(100% * 5); 
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
}
.slider__item {
	width: 100%;
}

.slider__view-points{
	display: flex;
	justify-content: space-between;
	margin: 100px auto 0;
	width: 100px;
}
.slider__view-point {
	width: 10px;
	height: 10px;
	background: grey;
	border-radius: 50%;
	opacity: .7;
}
.slider__btn-prev {
	position: absolute;
	left: 60px;
	top: 40%;
}
.slider__btn-next {
	position: absolute;
	right: 60px;
	top: 40%;
}
/*services*/

.services {
	text-align: center;
	padding-top: 90px;
	padding-bottom: 80px;
}
.services__inner{
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	align-items: flex-end;
}
.services__items {
	max-width: 22%;
	opacity: 0.6;
	color: #000;
}
.services__items:hover .services__text:after{
	background:#c7b299;
}
.services__items:hover .services__titles{
	color: #c7b299;
}
.services__items:hover .services__icon{
	opacity: .3;
}
.services__icon {
}
.services__titles {
	margin-top: 35px;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	font-weight: 600;
}

.services__text {
	margin-top: 25px;
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	position: relative;
	padding-bottom: 36px;
}
.services__text:after{
	content: "";
	background: #000;
	width: 75px;
	height: 2px;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	opacity: .4;
}
.purchise {
	background-image: url('../images/purchise.jpg');
	min-height: 150px;
	color: #615855;
}
.purchise__inner {
	display: flex;
	justify-content: space-between;
}
.purchise__info {
	margin-top: 55px;
	
}
.purchise__title {
	font-size: 28px;
	font-family: 'Raleway', sans-serif;
}
.purchise__text {
	color: #615855;
	font-size: 18px;
	padding-top: 15px;
}
.purchise__btn {
	margin-top: 50px;
}













.project {
	text-align: center;
	padding-top: 85px;
	padding-bottom: 80px;
}
.project__info {
	color: #555555;
}
.project__title {
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	padding-bottom: 30px;
}
.project__text {
	line-height: 28px;
	max-width: 780px;
	margin: 0 auto;
	color: #8c8c8c;
}
.project__inner {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
.project__item {
	margin: 15px;
}
.project__menu {
	margin: 45px 0 40px 0;
	color: #555555;
}
.project-btn {
	padding: 10px 25px;
	border: 1px solid #ebebeb;
	border-radius: 4%;
	margin: 5px;
	transition: .3s;
	
}
.project-btn:hover {
	background-color: #998675;
	color: #ffffff;
	
}
























.video,
.video a {
	background-image: url('../images/photo.jpg');
	min-height: 700px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;	
	color: #ffffff;
}
.video__text,
.video__title {
	transition: transform .2s;

}
.video__text:hover,
.video__title:hover {
	transform: scale(1.1);
}
.video__icon {
	padding-top: 220px;
}
.video__icon:hover {
	cursor: pointer;
}
.video__title {
	font-size: 30px;
	font-family: 'Raleway', sans-serif;	
	padding-top: 60px;
}
.video__text {
	padding: 30px 0 40px 0;
	line-height: 24px;
	max-width: 555px;
	margin: 0 auto;
}
.video__time {
	color: #c7b299;
	font-size: 14px;
}
.mobile {
	background-color: #fbfaf8;
	padding-top: 80px;
	color: #8c8c8c;
	font-weight: light;
	font-size: 16px;
}
.mobile__content {
	display: flex;
}
.mobile__img {
	margin-left: 75px;
}
.mobile__info {
	width: 670px;
}
.mobile__title {
	font-size: 30px;
	padding-bottom: 40px;
	padding-top: 115px;
	color: #555555;
	font-family: 'Raleway', sans-serif;
	
}
.mobile__text {
	line-height: 28px;
	padding-bottom: 77px;
}
.mobile__list li{
	position: relative;
	padding-left: 50px;
	
	line-height: 23px;
	padding-bottom: 17px;
	
}
.mobile__list li::before {
	content: "";
	background-image: url('../images/icons/arrow.png');
	background-repeat: no-repeat;
	background-size: 21px 21px;
	width: 21px; 
	height: 21px;
	margin-left: -35px;
	position: absolute;
}
.exp {
	min-height: 300px;
	background-image: url('../images/exp-bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
	font-family: 'Montserrat' sans-serif;
	font-weight: lighter;
	text-transform: uppercase;
}
.exp__points {
	text-align: center;
	position: relative;
	padding-bottom: 30px;
}
.exp__info {
	display: flex;
	justify-content: space-around;
	padding-top: 65px;
}

.exp__point-number {
	font-size: 48px;
}
.exp__point-img {
	margin-bottom: 28px;
}
.exp__point-title{
	font-size: 14px;
	color: #c7b299;
	padding-top: 21px;
}

.exp__points:after {
    content: "";
    background: #ffffff;
    width: 30px;
    height: 2px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
	opacity: .7;
}
.prefooter {
	background-image: url('../images/footer/footer-bg.jpg');
	min-height: 490px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.prefooter__logos {
	display: flex;
	justify-content: space-around;
	padding-top: 135px;
}

.footer {
	min-height: 510px;
	background-color: #191919;
	color: #555555;
	
}
.footer__content {
	display: flex;
	justify-content: space-around;
	padding-bottom: 45px;
	
}
.footer__item {
	max-width: 270px;
}
.footer__title {
	color: #ffffff;
	padding-top: 108px;
	padding-bottom: 14px;
	font-weight: 900;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
}
.waxon {
	position: relative;
	padding-left: 96px;
	font-weight: 400;
	padding-bottom: 45px;
}
.waxon::before {
	content: "";
	background-image: url('../images/footer/waxon.png');
	background-repeat: no-repeat;
	background-size: 64px 64px;
	width: 64px; 
	height: 56px;
	margin-left: -80px;
	position: absolute;
	margin-top: -20px;
}
.footer__waxom-more {
	margin-top: 60px;
}
.footer__text {
line-height: 24px;
}
.footer__posts {
	
	padding-bottom: 22px;
	position: relative;
	line-height: 20px;
}
.footer__posts:after{
	content: "";
	background: #555555;
	width: 100%;
	height: 2px;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	opacity: .4;
}
.footer__time {
	font-size: 12px;
	line-height: 20px;
}
.footer__date {
	font-size: 12px;
	line-height: 20px;
	color: #363636;
	margin-bottom: 10px;
	margin-top: 15px;
}
.twitter {
	padding-top: 20px;
}

.footer__time {
	margin-top: 15px;
}
.footer__widget-img {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;

	
}
.footer__widget-img img {
	padding-top: 10px;	
}
.copyright {
	min-height: 110px;
	background-color:#111111;
	max-width: 100%;
	color: #555555;

}
.copyright__content {
	display: flex;
	justify-content: space-between;
	padding: 45px 0;
}
.grey {
	color: #959595;
}
